@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "font-fa";
    src: local("IRANYekanWebMedium"),
    url('assets/fonts/IRANYekanWebMedium.woff') format("woff");
    font-weight: 100;
}

input[type=email], input[type=number] {
    direction: ltr;
}

input[type=email]::placeholder, input[type=number]::placeholder {
    text-align: right;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #888;
}

*::-webkit-scrollbar-thumb {
    background: #585555;
    border-radius: 200px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: font-fa;
    outline: none;
    scrollbar-width: thin;
}