@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "font-fa";
    src: local("IRANYekanWebMedium"),
    url('assets/fonts/IRANYekanWebMedium.woff') format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "font-en";
    src: local("Inter-roman-latin"),
    url('assets/fonts/Inter-roman-latin.woff2') format("woff");
    font-weight: 400;
}

* {
    outline: none;
}

input[type=email], input[type=number] {
    direction: ltr;
}

.placeholder::placeholder {
    @apply ltr:text-left rtl:text-right
}

.placeholder-ltr {
    text-align: left;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #888;
}

*::-webkit-scrollbar-thumb {
    background: #585555;
    border-radius: 200px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
